$font: 'Raleway', sans-serif;

$color-primary: #FF1025;
$color-primary-100: #FFDCCF;
$color-primary-200: #FFB19F;
$color-primary-300: #FF7D6F;
$color-primary-400: #FF4C4B;
$color-primary-500: #FF1025;
$color-primary-600: #DB0B30;
$color-primary-700: #B70837;
$color-primary-800: #930538;
$color-primary-900: #7A0338;
$color-primary-transparent-200: rgba(255, 16, 37, 0.16);
$color-primary-transparent-300: rgba(255, 16, 37, 0.24);
$color-primary-transparent-400: rgba(255, 16, 37, 0.32);
$color-primary-transparent-100: rgba(255, 16, 37, 0.08);
$color-primary-transparent-500: rgba(255, 16, 37, 0.4);
$color-primary-transparent-600: rgba(255, 16, 37, 0.48);
$color-success-100: #F2FDD4;
$color-success-200: #E2FBAA;
$color-success-300: #CAF57D;
$color-success-400: #B2EC5C;
$color-success-500: #8EE02A;
$color-success-600: #70C01E;
$color-success-700: #55A115;
$color-success-800: #3D810D;
$color-success-900: #2C6B08;

$color-info-100: #CCFEFB;
$color-info-200: #9AFCFD;
$color-info-300: #67EEFB;
$color-info-400: #41DAF8;
$color-info-500: #04BCF4;
$color-info-600: #0292D1;
$color-info-700: #026EAF;
$color-info-800: #014E8D;
$color-info-900: #003875;

$color-warning-100: #FEFBD3;
$color-warning-200: #FEF6A7;
$color-warning-300: #FDEF7B;
$color-warning-400: #FBE85A;
$color-warning-500: #F9DD25;
$color-warning-600: #D6BA1B;
$color-warning-700: #B39912;
$color-warning-800: #90790B;
$color-warning-900: #776207;

$color-danger-100: #FED8DA;
$color-danger-200: #FDB2BC;
$color-danger-300: #FB8BA6;
$color-danger-400: #F86E9C;
$color-danger-500: #F43F8E;
$color-danger-600: #D12E85;
$color-danger-700: #AF1F7B;
$color-danger-800: #8D146D;
$color-danger-900: #750C63;

